* {
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fatal {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 0.2rem;
}
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

@import './scss/header-sec';
@import './scss/services-sec';
@import './scss/modal-service';
@import './scss/about_section';
@import './scss/float-btn';
@import './scss/footer';
@import './scss/responsive';
@import './scss/dynamic-content'
