main {
    .modal {
        background: rgba(0, 0, 0, 0.9); 
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.25s ease-out;

        .title {
            position: absolute;            
            top: 5%;
            left: 50%;
            transform: translate(-50%, -5%);
            color: #fff;
            font-size: 2rem;
            font-weight: 600;
        }
        .full-img {
            position: absolute;
            height: 60%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            transition: all 0.25s ease-out;
        }
        .full-img.open {
            transform: translate(-50%, -50%) scale(1);
        }
        .desc {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -5%);
            font-size: 1.05rem;
            color: white;
        }
    }
    .open {
        opacity: 1;
        pointer-events: all;
    }
}